<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>My Application Settings</comment>
<entry key="URL">jdbc:mysql://192.168.6.119:3306/lose?characterEncoding=UTF-8</entry>
<entry key="AUTO_COMMIT">false</entry>
<entry key="MAX_LIMIT">3</entry>
<entry key="USERNAME">kiempq</entry>
<entry key="PASSWORD">kiempq@123</entry>
</properties>
